<launch>
    <!-- PARAMS -->
    <arg name="config" default="6th_floor"/> 

    <!-- STATIC POINTS -->
    <rosparam command="load" file="$(find stickler)/config/$(arg config).yaml" ns="stickler"/>

     <!--     MOTIONS     -->
    <rosparam command="load" file="$(find lasr_skills)/config/motions.yaml"/>
    <rosparam command="load" file="$(find stickler)/config/motions.yaml"/>


    <!-- PERCEPTIONS -->
    <include file="$(find lasr_vision_yolov8)/launch/service.launch"/>
    <include file="$(find lasr_vision_cropped_detection)/launch/cropped_detection.launch"/>
</launch>